@model database_first_aspnet_app_mvc.Training

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Training</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.training_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.training_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.training_group_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.training_group_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trainer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trainer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
