@model IEnumerable<database_first_aspnet_app_mvc.Training>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.training_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.training_group_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trainer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.training_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.training_group_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trainer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
